
.simple-btn{
    position: absolute;
    margin: 5px auto;
    display: block;
    
    width: 250px;
    max-width:90%;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;

    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.simple-btn span{
    position: absolute;
    font-size: 40px;
    font-family: ui-font;

    white-space: nowrap;
    display: inline-block;
    width: auto;
    transform-origin: left top;
    
    text-align: center;

    z-index: 5;

    color: #ffffff;
    /*-webkit-text-stroke: 1px #000000;
    
    text-shadow: #000000 0 4px;*/
}